Pods/
.gitconfig
.DS_Store
*.swp
profile
*.xccheckout
*.war
*~.nib
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
*.moved-aside
*.ut
*.xctlog
weekly_*_report.png
appium.txt
*.report
*_ut.png
node_modules/
Peregrine/Utilities/Playgrounds/Peregrine.playground/section-1.swift
Peregrine/Utilities/Playgrounds/Peregrine.playground/timeline.xctimeline
Peregrine/.idea
CIScript/iosautott/features/.idea/
CIScript/iosautott/features/screenshot/
CIScript/iosautott/features/support/server_info*
